.img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: calc(var(--rh) * 0.5);
  border: 1px solid var(--borderColor);
  transition: all 0.2s ease-in-out;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: var(--themeBlue);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    border: 1px solid var(--themeDarkYellow);
    box-shadow: 0 0.25em 1em var(--themeYellowGlow);
  }
}

.name {
  margin-top: auto;
}
