.wrapper {
  display: grid;

  @media (min-width: 550px) {
    /* autoprefixer grid: off */
    grid-gap: var(--rh);
    grid-template-columns: 1fr 2fr;
  }
}

.details {
  width: 100%;
  margin-bottom: var(--rh);
}

.name {
  margin-top: 0;
  color: var(--themeBlue);
  font-weight: bold;
  text-align: center;
}

.img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: calc(var(--rh) * 0.5);
  object-fit: scale-down;
  border: 1px solid var(--themeDarkRed);
}

.mapWrapper {
  position: relative;
}

.statList {
  /* autoprefixer grid: off */
  display: grid;
  grid-column-gap: calc(var(--rh) * 0.5);
  grid-template-columns: 1fr 1fr;
  margin: 0 0 var(--rh);

  dd {
    margin-left: 0;
  }
}

.typesList {
  margin: 0 0 var(--rh);
  padding: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0 0.75em;
    line-height: var(--rh);
    background:
      linear-gradient(
        to bottom,
        #c5de89 0%,
        #9cc350 75%,
        #466a0e 100%
      );
    border: 1px solid #466a0e;
    border-radius: var(--rh);
    box-shadow:
      0 1px 2px rgba(0, 0, 0, 0.5),
      0 1px 0 rgba(255, 255, 255, 0.6) inset;
  }
}

.subtitle {
  margin: 0 0 calc(var(--rh) * 0.25);
  font-weight: 500;
  font-size: 1.1em;
}
