$border-color: #ccc;

.form {
  font-size: 1rem;
}

.form label {
  margin-left: 0.25em;
  line-height: 1;
}

.form input {
  font-size: 1em;
  line-height: 1;
  border: 1px solid $border-color;

  &:focus {
    box-shadow: 0 0 7px 2px var(--themeYellowGlow);
  }
}
