<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="manifest" href="<%= webpackConfig.output.publicPath %>site.webmanifest" />
    <base href="<%= webpackConfig.output.publicPath %>" />
    <meta
      name="apple-mobile-web-app-title"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta
      name="application-name"
      content="<%= htmlWebpackPlugin.options.title %>"
    />

    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= webpackConfig.output.publicPath %>icons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="<%= webpackConfig.output.publicPath %>icons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= webpackConfig.output.publicPath %>icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="<%= webpackConfig.output.publicPath %>icons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= webpackConfig.output.publicPath %>icons/favicon-16x16.png"
    />
    <meta name="msapplication-TileColor" content="#ffde00" />
    <meta name="msapplication-TileImage" content="<%= webpackConfig.output.publicPath %>icons/ms-icon-144x144.png" />
    <meta
      name="application-name"
      content="<%= htmlWebpackPlugin.options.title %>"
    />
    <meta name="theme-color" content="#ffde00" />
  </head>
  <body>
    <div id="App"></div>
  </body>
</html>
