$border-color: #ccc;
$hl-color: #3b4cca;

.pager {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: inline-block;
}

.link {
  display: block;
  width: 2em;
  margin: 0 1ch 1ch 0;
  font-size: 0.8em;
  line-height: 2em;
  text-align: center;
  text-decoration: none;
  border: 1px solid $border-color;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $border-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    border: 1px solid $hl-color;
    box-shadow: 0 5px 15px $hl-color;
  }
}

.current {
  font-weight: bold;
  border: 1px solid $hl-color;

  &:hover,
  &:focus {
    border: 1px solid $hl-color;
  }
}

.disabled {
  cursor: pointer;
  opacity: 0.5;

  .link {
    color: $border-color;
    cursor: pointer;
    opacity: 0.5;

    &:hover,
    &:focus {
      border: 1px solid $border-color;
      box-shadow: none;
    }
  }
}
